body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4500b4;
}
.chat-container {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chat-box {
    height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.input-box {
    display: flex;
}
input {
    flex: 1;
    padding: 5px;
}
.sendButton {
    padding: 5px;
    cursor: pointer;
    color: white;
    background-color: rgb(86, 86, 251);
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    text-align: center;
    transition: background-color 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sendButton:hover {
    background-color: blue 
}

.inputButton {
    cursor: pointer;
    color: white;
    background-color: rgb(86, 86, 251);
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    width: 75%;
    text-align: center;
    transition: background-color 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inputButton:hover {
    background-color: blue 
}

